<p style="color: green"><%= notice %></p>

<% content_for :title, "Emprestimos" %>

<h1>Emprestimos</h1>

<div id="emprestimos">
  <% @emprestimos.each do |emprestimo| %>
    <%= render emprestimo %>
    <p>
      <%= link_to "Show this emprestimo", emprestimo %>
    </p>
  <% end %>
</div>

<%= link_to "New emprestimo", new_emprestimo_path %>
